.cal{
    margin-left: 100px;
    margin-top: 80px;
    background-position: center;
    
}

.btn{
    margin: 3px;
    padding: 15px;
}
.display{
    margin-top: 45px;
    margin-left: 45px;
    padding: 20px;
    display: inline;
}

